.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Ignore root markdown files except README and CONTRIBUTING
/*.md
!README.md
!CONTRIBUTING.md
!RELEASE.md
